body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{   
    display: flex;
}
.half-width{
    width: 50%;
    margin: 30px;
}
.half-width h1{
    font-size: 50px;
    margin-right: 50px;
}
.half-width img{
    width: 60%;
    margin-left: 100px;
    margin-top: -10px;
}
.vertical-line {
    border-right: 4px solid orange;
    border-radius: 10px;
    height: 120px;
    margin-top: 90px;
    margin-left: 60px;
}
.sec1-title{
    margin-bottom: -40px;
}
.sec1-subtitle{
    color: #1ABC9C;
}
.link-button{
    text-decoration: none;
    background-color: #ff4000;
    padding: 10px 30px;
    color: white;
    border-radius: 4px;
}
.navigation{
    margin-top: 40px;
}

/*Section-01 ended*/
/*Section-02(Mission Section) started*/
.mission-section h1{
    font-size: 45px;
    text-align: center;
    color: navy;
}
.mission-section span{
    color: springgreen;
}
#mission-card{
    padding: 40px;
    box-shadow: 8px 8px 10px grey;
    border-radius: 20px;
    height: 10%;
    background-color: rgba(205, 92, 92, 0.849);
}
#mission-card img{
    width: 40%;
    margin-left: -10px;
}
#vission-card img{
    width: 47%;
    margin-left: -13px;
}
#vission-card{
    padding: 40px;
    box-shadow: 8px 8px 10px grey;
    border-radius: 20px;
    height: 10%;
    background-color: khaki;
}
#goals-card{
    padding: 40px;
    box-shadow: 8px 8px 10px grey;
    border-radius: 20px;
    height: 10%;
    background-color: mediumslateblue;
}
#goals-card img{
    width: 47%;
    margin-left: -13px;
}

/*Section-02(Mission Section) ended*/
/*Section-03(Developer Section) started*/
.dev-coding{
    width: 50%;
    padding-left: 20px;
}
.dev-coding img{
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
}
.dev-coding h3{
    font-size: 40px;
}
.dev-head{
    margin-bottom: -40px;
    color: orange;
}
.dev-contents{
    margin-top: 10px;
    margin-left: -40px;
    margin-right: 50px;
}
.dev-section{
    margin-top: 20px;
}

/*Section-03(Developer Section) ended*/
/*Section-04(Developer Section) started*/
.community-section img{
    width: 60%;
    margin-left: 20%;
    margin-top: 15px;
}
.community-section{
    width: 50%;
    padding-left: 40px;
    margin-left: 10px;
}
.community-head{
    margin-top: 2%;

}
.global-head{
    color: mediumslateblue;
    margin-top: -25px;
}
.community-head h1{
    font-size: 40px;
}
.global-community{
    margin-top: 60px;
}
/*Section-04(Developer Section) ended*/
/*Section-05*(Bonus Section) started*/
.signup-container{
    display: flex;
    margin-top: 80px;
}
.width-dividing{
    width: 50%;
    margin: 30px;
}
.width-dividing form{
    border-top: 5px solid black;
    border-radius: 20px;
    margin-left: 10%;
    width: 70%;
    padding: 40px;
    box-shadow: 10px 10px 30px grey;
}
.btn-styling{
    background-color: rgb(255, 196, 0);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: black;
    font-weight: 700;
    font-size: 15px;
    
}
.form-header{
    margin-top: -5px;
    color: darkorange;
}
#signup-contents h1{
    font-size: 40px;
   color: deeppink;
   text-align: justify;
}
#signup-contents{
    margin-left: 5%;
    margin-top: 15%;
    width: 70%;
    padding: 40px;
}

/*Section-05*(Bonus Section) ended*/
/*Section-06(Footer Section) started*/
footer{
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 30px;
}
.footer-para{
    font-weight: lighter;
}
.footer-year{
    color: darkgoldenrod;
}

/*Section-06(Footer Section) ended*/